.site-banner{
    position: relative;
    &__slider{
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__img-holder{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        max-width: 820px;
        width: ( 820px / 1920px ) * 100%;
        margin: 0 auto;
        img{
            width: 100%;
            height: auto;
        }
    }
}