.site-header {
    background: #000000;
    .container{
        max-width: 1701px;
        width: 95%;
    }
    &__wrap{
        @include flex(row, wrap, space-between, center);
    }
    &__logo{
        width: 17%;
        max-width: 275px;
    }
    &__nav{
        width: 64%;
        max-width: 1024px;
    }
    &__info{
        max-width: 275px;
        width: 17%;
    }
    &__phone {
        position: relative;
        padding: 0 0 0 40px;
        font-family: 'Playfair Display';
        font-weight: 400;
        font-style: italic;
        font-size: 35px;
        margin: 10px 0;
        display: block;
        color: #FFFFFF;
        &::before{
            content: '';
            background: url('../../uploads/2019/10/icons.png') no-repeat 0 -1px;
            width: 23px;
            height: 23px;
            position: absolute;
            top: 60%;
            transform: translateY(-40%);
            left: 0;
        }
    }
    &__email{
        position: relative;
        padding: 0 0 0 40px;
        font-family: 'Playfair Display';
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        margin: 10px 0;
        display: block;
        &::before {
            content: '';
            background: url('../../uploads/2019/10/icons.png') no-repeat 0 -38px;
            width: 23px;
            height: 19px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
}
