.btn {
  a, input {
    width: 200px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: #FFF;
    letter-spacing: .2em;
    background: #001B44;
    border: 1px solid transparent;
  }
  a:hover, input:hover {
    text-shadow: 0px 2px 3px #000;
    border-radius: 5px;
  }
  a::after, input::after {
    content: "";
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5));
    transition: all .4s linear;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: 5px;
  }
  a:hover:after, input:hover::after {
    transform: scaleY(1);
  }
}

@media screen and (max-width: 599px) {
  .btn {
    margin: 0 auto 10px !important;
  }
}
