a {
  text-decoration: none;
  transition: all .5s ease;
  color: #111;
  &:visited {
    -webkit-transition: all .5s ease;
    text-decoration: none !important;
    text-decoration: none;
    transition: all .5s ease;
    color: #111;
  }
  &:hover {
    text-shadow: 0px 0px 5px #000;
  }
  &:focus {
    outline: none !important;
  }
}
h1, h2, h3, h4, h5, h6{margin: 0;}
h1, h2{
  font-family: 'Dynalight';
  font-weight: 400;
  line-height: 110%;
  margin: 0 auto;
}

h1 {
  font-size: 120px;
  color: #6A7A64;
}

h2 {
  font-size: 110px;
}

h3 {
  font-family: 'Playfair Display';
  font-size: 50px;
}

p, ul, ol {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .03em;
  line-height: 180%;
  font-weight: 400;
  font-size: 15px;
  color: #535353;
}

p:last-of-type {
  margin: 0 !important;
}

@media screen and (max-width: 500px) {
  h1, h2 {
    font-size: 40px;
  }
}
