.sidebar form, .error-404 form {
  position: relative;
  max-width: 700px;
  margin: 10px auto;
}

.sidebar input[type="search"], .error-404 input[type="search"] {
  width: 100%;
  padding: 5px 10px;
}

.sidebar input[type="submit"], .error-404 input[type="submit"] {
  background: linear-gradient(to bottom, #FFF, #ccc);
  border: 1px solid #000;
  position: absolute;
  padding: 6px;
  right: 0;
  top: 0;
}

.sidebar {
  .widget:not(:nth-of-type(1)) {
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
  }
  input[type="submit"] {
    transition: all .4s linear;
  }
}

.error-404 input[type="submit"] {
  transition: all .4s linear;
}

.sidebar input[type="submit"]:hover, .error-404 input[type="submit"]:hover {
  box-shadow: 0px 0px 20px #000;
}
