/*
Theme Name: WP5 Default
Theme URI: 
Author: the Development team
Author URI: https://wordpress.org/
Description: A theme for WordPress 5.
Requires at least: WordPress 4.9.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wp5default
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

WP5 Default is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Layouts
# Fonts
# Buttons
# Search Box
# Flexbox
# Forms
	## Quick Form
		### Responsive
	## Contact Us Form
		### Responsive
# Menus
	## Main Menu
		### Responsive
	## Sub Menu
		### Responsive
	## Footer Menu
		### Responsive
	## Social Menu
		### Responsive
# Header
# Banner
# Contents
	## Welcome Section
		### Responsive
	## Practice Areas Section
		### Responsive
	## Profile Section
		### Responsive
	## Gallery Section
		### Responsive
	## Contact Us Section
		### Responsive
	## Badges Section
		### Responsive
# Footer
# Sidebar Section
	## Responsive
# Inner Pages
	## Blog Page
		### Responsive
	## Search Page
		### Responsive
	## Error Page
		### Responsive
	## Attorney Profile Page

--------------------------------------------------------------*/

html {line-height: 1.15; -webkit-text-size-adjust: 100%;}
body {font-family: 'Open Sans', sans-serif; margin: 0 auto; width: 100%; min-width: 1200px;}

@media screen and (max-width: 1200px) {
	body {min-width: 320px;}
}

/*###################################
## Layouts
###################################*/
.screen-reader-text {clip: rect(1px, 1px, 1px, 1px); position: absolute !important; word-wrap: normal !important; overflow: hidden; height: 1px; margin: -1px; padding: 0; width: 1px; border: 0;}
.wp-block-column, .blocks-gallery-item {margin: 0 !important;}
.has-1-columns .wp-block-column {flex-basis: 100%;}
.container {width: 100%; max-width: 1600px; margin: 0 auto; padding: 0;}
.row {max-width: 1440px; margin: 0 auto;}
.cta {display: none;}
.grecaptcha-badge {z-index: 999999;}

@media screen and (max-width: 800px) {
	.cta {background: #D7BA5A  url("assets/images/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px;border-top: 2px solid #000; border-top-left-radius: 40px; text-decoration: none; text-indent: -9999em; position: fixed; display: block; bottom: 13%; height: 80px; width: 100px; z-index: 999; right: 0;}
	#wprmenu_bar {box-shadow: 0px 0px 2px #000;}
	#wprmenu_bar .menu_title a {color: #FFF; top: 0;}
	html body div.wprm-overlay {background: transparent;}
	.logged-in #wprmenu_menu_ul {top: 47px !important;}
}

/*###################################
## Fonts
###################################*/
a, a:visited { -webkit-transition: all .5s ease; text-decoration: none !important; text-decoration: none; transition: all .5s ease;color: #555;}
a:hover {text-shadow: 0px 0px 5px #000;}
a:focus {outline: none !important;}
h1, h2 , h3 {font-family: 'Playfair Display', serif; font-weight: 400; line-height: 110%; margin: 0 auto;}
h1 {font-size: 70px;color: #6A7A64;}
h2 {font-size: 60px;}
h3 {font-size: 25px; font-weight: 700;}
p, ul, ol {font-family: 'Open Sans', sans-serif; letter-spacing: .03em; line-height: 180%; font-weight: 400; font-size: 15px; color: #535353;}
p:last-of-type {margin: 0 !important;}

@media screen and (max-width: 500px) {
	h1, h2 {
		font-size: 40px;
	}
}

/*###################################
## Buttons
###################################*/
.btn a, .btn input {width: 200px; height: 60px; line-height: 60px; display: inline-block; font-weight: 700; font-size: 14px; color: #FFF; letter-spacing: .2em; background: #001B44; border: 1px solid transparent;}
.btn a:hover, .btn input:hover {text-shadow: 0px 2px 3px #000; border-radius: 5px;}
.btn a::after, .btn input::after {content: ""; background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, .5)); transition: all .4s linear; transform: scaleY(0); transform-origin: top; position: absolute;  height: 100%; width: 100%; z-index: -1; left: 0; top: 0; border-radius: 5px;}
.btn a:hover:after, .btn input:hover::after {transform: scaleY(1);}

@media screen and (max-width: 599px) {
	.btn {margin: 0 auto 10px !important;}
}

/*###################################
## Search
###################################*/
.sidebar form, 
.error-404 form {position: relative; max-width: 700px; margin: 10px auto;}
.sidebar input[type="search"], 
.error-404 input[type="search"] {width: 100%; padding: 5px 10px;}
.sidebar input[type="submit"], 
.error-404 input[type="submit"] {background: linear-gradient(to bottom, #FFF, #ccc);border: 1px solid #000; position: absolute; padding: 6px; right: 0; top: 0;}
.sidebar .widget:not(:nth-of-type(1)) {background: rgba(255, 255, 255, .5);border-bottom: 1px solid #CCC;padding-bottom: 20px;margin-bottom: 20px;  padding: 10px 20px;}
.sidebar input[type="submit"], 
.error-404 input[type="submit"] {transition: all .4s linear;}
.sidebar input[type="submit"]:hover, 
.error-404 input[type="submit"]:hover {box-shadow: 0px 0px 20px #000;}

/*###################################
## Flexbox
###################################*/
.dflex {display: flex; display: -webkit-flex;}
.sb-flex {justify-content: space-between; -webkit-justify-content: space-between;}
.sa-flex {justify-content: space-around; -webkit-justify-content: space-around;}
.cn-flex {justify-content: center; -webkit-justify-content: center;}
.fe-flex {justify-content: flex-end; -webkit-justify-content: flex-end;}
.align-center {align-items: center; -webkit-align-items: center;}

/*###################################
## Forms
###################################*/
form p {margin: 0 0 10px !important;width: 100%;}
form label {display: block; color: #FFF;}
form input[type="submit"] {transition: all .5s linear;}

/*Quick Form*/
.q-form .dflex p {flex-basis: 32.5%;}
.q-form p {margin: 0 0 10px !important; width: 100%;}
.q-form label {display: block; color: #FFF;}
.q-form input:not([type="checkbox"]):not([type="submit"]), 
.q-form textarea {width: 100%; font-family: 'Open Sans', sans-serif; border: 1px solid #FFF; box-sizing: border-box;letter-spacing: .03em; font-weight: 400; font-size: 15px; border-radius: 0; background: none; color: #FFF; padding: 19px;}
.q-form input::placeholder, 
.q-form textarea::placeholder {color: #FFF;}

/*Contact Us Form*/
.c-form {text-align: center;max-width: 900px; margin: 0 auto; }
.c-form input:not([type="checkbox"]):not([type="submit"]), 
.c-form textarea {font-family: 'Open Sans', sans-serif; box-shadow: 2px 2px 2px #000;letter-spacing: .03em; border: 1px solid #000; box-sizing: border-box; border-radius: 0; background: none; font-weight: 400; font-size: 15px; padding: 19px;color: #000;  width: 100%; }
.c-form label {color: #000;}

/*###################################
## Menus
###################################*/

/*Main Menu*/
.main-navigation { max-width: 900px; width: 900px; margin-left: auto;}
.main-navigation ul {-webkit-justify-content: space-around; justify-content: space-around; display: -webkit-flex; list-style: none; display: flex; margin: 0; padding: 0;}
.main-navigation ul li {padding: 0 41px;}
.main-navigation ul li:first-of-type {padding-left: 0;}
.main-navigation ul li:last-of-type {padding-right: 0;}
.main-navigation ul li.menu-item-has-children a::after {content: "\f0d7"; font-family: 'FontAwesome'; color: #FFF; transition: all .2s linear; display: inline-block; vertical-align: middle; font-size: 18px; margin-left: 10px; position: relative; top: -2px;}
.main-navigation ul li.menu-item-has-children a:hover::after {transform: rotateZ(180deg);}
.main-navigation ul li a {font-weight: 500; font-size: 18px; color: #000; line-height: 120%; padding: 25px 0; text-transform: uppercase; display: block; position: relative;}
.main-navigation ul li a::before {content: ""; background: #FFF; width: 100%; max-width: 50px; height: 4px; border-radius: 3px; position: absolute; bottom: 0; left: 0; right: 0; margin: 0 auto; transition: all .3s linear; transform: scaleX(0); transform-origin: left;}
.main-navigation ul li a:hover::before,
.main-navigation .current-menu-item a::before {transform: scaleX(1);}
.main-navigation ul li a:hover, 
.main-navigation .current-menu-item a,
.main-navigation .current_page_item a {text-shadow: 0px 0px 20px #000;}
.main-navigation ul li:hover ul {visibility: visible; opacity: 1; margin-top: 0;}

/*Sub Menu*/
.main-navigation ul ul {background: rgba(106, 123, 100, .9); transition: all .3s linear; box-shadow: 0px 0px 2px #555; box-sizing: border-box; padding: 10px 5px; position: absolute; visibility: hidden; margin-top: 50px; width: 250px;display: block; opacity: 0;}
.main-navigation ul ul li {display: block; margin-right: 0;}
.main-navigation ul ul li a {padding: 10px; display: block; box-sizing: border-box;}
.main-navigation ul ul li a::after, .main-navigation ul ul li a::before {display: none !important;}
.main-navigation ul ul li a:hover {background: #D7BA5A;}

/*Sub Sub Menu*/
/*.main-navigation ul ul ul {visibility: hidden !important; margin-top: -48px !important; opacity: 0 !important; position: absolute; margin-left: 240px; 	}
.main-navigation ul ul li:hover ul {visibility: visible !important; opacity: 1 !important; margin-left: 182px;  }
.main-navigation ul ul ul li {}*/

/*Footer Menu*/
.footer-navigation {margin-top: 100px;}
.footer-navigation ul {margin: 0; padding: 0; list-style: none; display: block;}
.footer-navigation ul li {display: inline-block; margin: 0 10px;}
.footer-navigation ul li a {color: #FFF;}
.footer-navigation ul li a:hover {text-shadow: 0px 0px 20px #FFF, 0px 0px 20px #FFF, 0px 0px 20px #FFF;}

/*Social Menu*/
.social-navigation {}
.social-navigation .svg-icon {display: none;}
.social-navigation ul {margin: 0 !important; list-style: none; display: block; padding: 0; 	}
.social-navigation ul li {transition: all .4s linear; border-radius: 50%; margin: 0 0 0 10px; height: 40px; width: 40px;}
.social-navigation ul li:hover {box-shadow: 0px 0px 20px #000; transform: rotateZ(360deg);}
.social-navigation ul li a {color: #FFF;}
.social-navigation ul li a::before {font-size: 18px; position: relative; top: 12px;}

/*###################################
## Header
###################################*/
.site-header {}

/*###################################
## Banner
###################################*/
.site-banner {}

/*###################################
## Content
###################################*/
.site-content {}

/*###################################
## Footer
###################################*/
.site-footer {}

/*###################################
## Sidebar Blog
###################################*/
.sidebar {border: 1px solid #535353; box-sizing: border-box; flex-basis: 30%; padding: 20px; }
.sidebar h2 {font-size: 25px; margin: 0; }
.sidebar .widget_search {box-sizing: border-box; background: #6A7A64; margin-bottom: 25px; padding: 20px; width: 100%; }
.sidebar .widget:last-of-type {margin-bottom: 0;}

/*###################################
## Inner Pages
###################################*/
.inner #content {padding: 180px 0 30px; min-height: 500px;}
.inner #content h1 {margin: 10px auto 30px; text-align: center;}

/*###################################
## Blog Page
###################################*/
.blog-container {padding-right: 5%; flex-basis: 65%;}
.blog-list article {transition: all .3s linear; border: 1px solid #535353; box-sizing: border-box; padding: 20px; }
.blog-list article:not(:last-of-type) {margin-bottom: 40px;}
.blog-list article:hover {box-shadow: 0px 0px 20px #000;}
.blog-title h2 {margin: 0 0 20px !important; font-size: 30px;}
.blog-header {-webkit-align-items: flex-end; align-items: flex-end; margin-bottom: 10px; 	}
.blog-header p {margin: 0;}
.blog-header p span {font-style: italic;}
.blog-image {text-align: center;}
.blog-image img {transition: all .5s linear; max-width: 500px !important; height: auto !important;}
.blog-container .btn {margin-top: 10px !important; padding: 10px 20px; font-size: 13px;}
.pagination-n {text-align: right; margin-top: 15px;}
.pagination-n a {background: #D7BA5A; padding: 2px 10px; }
.pagination-n .current {background: #6A7A64; padding: 2px 10px; color: #FFF;}

@media screen and (max-width: 800px) {
	.blog-wrap {-webkit-flex-direction: column; flex-direction: column;}
	.blog-container {margin-bottom: 30px; padding-right: 0;}
}

@media screen and (max-width: 500px) {
	.blog-header {-webkit-flex-direction: column; flex-direction: column;}
	.blog-header p, .blog-header h2 {text-align: center; width: 100%;}
	.blog-list article {text-align: center;}
	.blog-header h2 {font-size: 30px;}
	.blog-container .btn {margin-top: 20px !important;}
}

/*###################################
## Search Page
###################################*/
.page-description {text-align: center; margin-bottom: 40px; font-weight: 700; font-size: 25px; display: block;}
.page-description::after {content: ' "';}
.page-description::before {content: '" ';}
.search article {transition: all .5s linear; border: 1px solid #000; margin-bottom: 30px; padding: 20px; display: block; }
.search article:hover {box-shadow: 0px 0px 20px #000;}
.search article:last-of-type {margin-bottom: 0;}
.search article h2 {margin: 0 0 20px; font-size: 35px;}
.search-con {padding-right: 5%; flex-basis: 65%;}

@media screen and (max-width: 800px) {
	.search-wrap {-webkit-flex-direction: column; flex-direction: column; }
	.search-con {margin-bottom: 30px; padding-right: 0;}
}

/*###################################
## Error Page
###################################*/
.error-404 {text-align: center;}