.footer-navigation {
  margin-top: 100px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    li {
      display: inline-block;
      margin: 0 10px;
      a {
        color: #FFF;
        &:hover {
          text-shadow: 0px 0px 20px #FFF, 0px 0px 20px #FFF, 0px 0px 20px #FFF;
        }
      }
    }
  }
}
