.main-navigation {
  ul {
    @include flex(row,wrap,space-between,center);
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a{
        overflow: hidden;
        display: inline-block;
        padding: 40px 10px;
        position: relative;
        font-family: 'Playfair Display';
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        text-transform: uppercase;
        &::before{
          content: '';  
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 5px;
          transform: translateX(-100%);
          transition: all 0.5s ease;
          background: #36A9A9;
        }
      }
    }
  }
  .current-menu-item a::before {
    visibility: visible;
    transform: translateX(0);
  }
  ul li a:hover::before, .current-menu-item a::before, .current_page_item a::before {
    visibility: visible;
    transform: translateX(0);
  }
  ul li:hover ul {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
}
