.main-navigation ul ul {
  background: rgba(106, 123, 100, 0.9);
  transition: all .3s linear;
  box-shadow: 0px 0px 2px #555;
  box-sizing: border-box;
  padding: 10px 5px;
  position: absolute;
  visibility: hidden;
  margin-top: 50px;
  width: 250px;
  display: block;
  opacity: 0;
  li {
    display: block;
    margin-right: 0;
    a {
      padding: 10px;
      display: block;
      box-sizing: border-box;
      &::after, &::before {
        display: none !important;
      }
      &:hover {
        background: #D7BA5A;
      }
    }
  }
}

/*Sub Sub Menu*/

// .main-navigation ul ul {
//   ul {
//     visibility: hidden !important;
//     margin-top: -48px !important;
//     opacity: 0 !important;
//     position: absolute;
//     margin-left: 240px;
//   }
//   li:hover ul {
//     visibility: visible !important;
//     opacity: 1 !important;
//     margin-left: 182px;
//   }
//   ul li {}
// }
