.sidebar {
  border: 1px solid #535353;
  box-sizing: border-box;
  flex-basis: 30%;
  padding: 20px;
  h2 {
    font-size: 25px;
    margin: 0;
  }
  .widget_search {
    box-sizing: border-box;
    background: #6A7A64;
    margin-bottom: 25px;
    padding: 20px;
    width: 100%;
  }
  .widget:last-of-type {
    margin-bottom: 0;
  }
}
