/*
Theme Name: Beyond Basic Hair Salon
Theme URI:
Author: the Development team
Author URI: https://wordpress.org/
Description: A theme for WordPress 5.
Requires at least: WordPress 4.9.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: beyondbasicshairsalon
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

WP5 Default is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { font-family: 'Open Sans', sans-serif; margin: 0 auto; width: 100%; min-width: 1200px; }

@media screen and (max-width: 1200px) { body { min-width: 320px; } }

/*###################################
## Layouts
###################################*/
/*colors*/
.has-primary-color { color: #36A9A9; }

.has-primary-background-color { background: #36A9A9; }

.has-secondary-color { color: #287f7f; }

.has-secondary-background-color { background: #287f7f; }

.has-black-color { color: #000000; }

.has-black-background-color { background: #000000; }

.has-dark-grey-color { color: #111111; }

.has-dark-grey-background-color { background: #111111; }

.has-light-grey-color { color: #282828; }

.has-light-grey-background-color { background: #282828; }

.has-white-color { color: #FFFFFF; }

.has-white-background-color { background: #FFFFFF; }

.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; word-wrap: normal !important; overflow: hidden; height: 1px; margin: -1px; padding: 0; width: 1px; border: 0; }

.wp-block-column, .blocks-gallery-item { margin: 0 !important; }

.has-1-columns .wp-block-column { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.container { width: 100%; max-width: 1600px; margin: 0 auto; padding: 0; }

.row { max-width: 1440px; margin: 0 auto; }

.cta { display: none; }

.grecaptcha-badge { z-index: 999999; }

@media screen and (max-width: 800px) { .cta { background: #D7BA5A url("assets/images/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid #000; border-top-left-radius: 40px; text-decoration: none; text-indent: -9999em; position: fixed; display: block; bottom: 13%; height: 80px; width: 100px; z-index: 999; right: 0; }
  #wprmenu_bar { -webkit-box-shadow: 0px 0px 2px #000; box-shadow: 0px 0px 2px #000; }
  #wprmenu_bar .menu_title a { color: #FFF; top: 0; }
  html body div.wprm-overlay { background: transparent; }
  .logged-in #wprmenu_menu_ul { top: 47px !important; } }

/*###################################
## Fonts
###################################*/
a { text-decoration: none; -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; color: #111; }

a:visited { -webkit-transition: all .5s ease; text-decoration: none !important; text-decoration: none; -o-transition: all .5s ease; transition: all .5s ease; color: #111; }

a:hover { text-shadow: 0px 0px 5px #000; }

a:focus { outline: none !important; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

h1, h2 { font-family: 'Dynalight'; font-weight: 400; line-height: 110%; margin: 0 auto; }

h1 { font-size: 120px; color: #6A7A64; }

h2 { font-size: 110px; }

h3 { font-family: 'Playfair Display'; font-size: 50px; }

p, ul, ol { font-family: 'Open Sans', sans-serif; letter-spacing: .03em; line-height: 180%; font-weight: 400; font-size: 15px; color: #535353; }

p:last-of-type { margin: 0 !important; }

@media screen and (max-width: 500px) { h1, h2 { font-size: 40px; } }

/*###################################
## Buttons
###################################*/
.btn a, .btn input { width: 200px; height: 60px; line-height: 60px; display: inline-block; font-weight: 700; font-size: 14px; color: #FFF; letter-spacing: .2em; background: #001B44; border: 1px solid transparent; }

.btn a:hover, .btn input:hover { text-shadow: 0px 2px 3px #000; border-radius: 5px; }

.btn a::after, .btn input::after { content: ""; background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5))); background: -webkit-linear-gradient(top, transparent, rgba(255, 255, 255, 0.5)); background: -o-linear-gradient(top, transparent, rgba(255, 255, 255, 0.5)); background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5)); -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; -webkit-transform: scaleY(0); -ms-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: top; -ms-transform-origin: top; transform-origin: top; position: absolute; height: 100%; width: 100%; z-index: -1; left: 0; top: 0; border-radius: 5px; }

.btn a:hover:after, .btn input:hover::after { -webkit-transform: scaleY(1); -ms-transform: scaleY(1); transform: scaleY(1); }

@media screen and (max-width: 599px) { .btn { margin: 0 auto 10px !important; } }

/*###################################
## Search
###################################*/
.sidebar form, .error-404 form { position: relative; max-width: 700px; margin: 10px auto; }

.sidebar input[type="search"], .error-404 input[type="search"] { width: 100%; padding: 5px 10px; }

.sidebar input[type="submit"], .error-404 input[type="submit"] { background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#ccc)); background: -webkit-linear-gradient(top, #FFF, #ccc); background: -o-linear-gradient(top, #FFF, #ccc); background: linear-gradient(to bottom, #FFF, #ccc); border: 1px solid #000; position: absolute; padding: 6px; right: 0; top: 0; }

.sidebar .widget:not(:nth-of-type(1)) { background: rgba(255, 255, 255, 0.5); border-bottom: 1px solid #CCC; padding-bottom: 20px; margin-bottom: 20px; padding: 10px 20px; }

.sidebar input[type="submit"] { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.error-404 input[type="submit"] { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.sidebar input[type="submit"]:hover, .error-404 input[type="submit"]:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

/*###################################
## Forms
###################################*/
/*###################################
## Menus
###################################*/
/*Main Menu*/
.main-navigation ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0; padding: 0; list-style: none; }

.main-navigation ul li a { overflow: hidden; display: inline-block; padding: 40px 10px; position: relative; font-family: 'Playfair Display'; font-weight: 400; font-size: 16px; color: #FFFFFF; text-transform: uppercase; }

.main-navigation ul li a::before { content: ''; visibility: hidden; position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 5px; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; background: #36A9A9; }

.main-navigation .current-menu-item a::before { visibility: visible; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

.main-navigation ul li a:hover::before, .main-navigation .current-menu-item a::before, .main-navigation .current_page_item a::before { visibility: visible; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

.main-navigation ul li:hover ul { visibility: visible; opacity: 1; margin-top: 0; }

/*Sub Menu*/
.main-navigation ul ul { background: rgba(106, 123, 100, 0.9); -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; -webkit-box-shadow: 0px 0px 2px #555; box-shadow: 0px 0px 2px #555; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 5px; position: absolute; visibility: hidden; margin-top: 50px; width: 250px; display: block; opacity: 0; }

.main-navigation ul ul li { display: block; margin-right: 0; }

.main-navigation ul ul li a { padding: 10px; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main-navigation ul ul li a::after, .main-navigation ul ul li a::before { display: none !important; }

.main-navigation ul ul li a:hover { background: #D7BA5A; }

/*Sub Sub Menu*/
/*Footer Menu*/
.footer-navigation { margin-top: 100px; }

.footer-navigation ul { margin: 0; padding: 0; list-style: none; display: block; }

.footer-navigation ul li { display: inline-block; margin: 0 10px; }

.footer-navigation ul li a { color: #FFF; }

.footer-navigation ul li a:hover { text-shadow: 0px 0px 20px #FFF, 0px 0px 20px #FFF, 0px 0px 20px #FFF; }

/*Social Menu*/
.social-navigation .svg-icon { display: none; }

.social-navigation ul { margin: 0 !important; list-style: none; display: block; padding: 0; }

.social-navigation ul li { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; border-radius: 50%; margin: 0 0 0 10px; height: 40px; width: 40px; }

.social-navigation ul li:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; -webkit-transform: rotateZ(360deg); -ms-transform: rotate(360deg); transform: rotateZ(360deg); }

.social-navigation ul li a { color: #FFF; }

.social-navigation ul li a::before { font-size: 18px; position: relative; top: 12px; }

/*###################################
## Header
###################################*/
.site-header { background: #000000; }

.site-header .container { max-width: 1701px; width: 95%; }

.site-header__wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.site-header__logo { width: 17%; max-width: 275px; }

.site-header__nav { width: 64%; max-width: 1024px; }

.site-header__info { max-width: 275px; width: 17%; }

.site-header__phone { position: relative; padding: 0 0 0 40px; font-family: 'Playfair Display'; font-weight: 400; font-style: italic; font-size: 35px; margin: 10px 0; display: block; color: #FFFFFF; }

.site-header__phone::before { content: ''; background: url("../../uploads/2019/10/icons.png") no-repeat 0 -1px; width: 23px; height: 23px; position: absolute; top: 60%; -webkit-transform: translateY(-40%); -ms-transform: translateY(-40%); transform: translateY(-40%); left: 0; }

.site-header__email { position: relative; padding: 0 0 0 40px; font-family: 'Playfair Display'; font-weight: 400; font-size: 16px; color: #FFFFFF; margin: 10px 0; display: block; }

.site-header__email::before { content: ''; background: url("../../uploads/2019/10/icons.png") no-repeat 0 -38px; width: 23px; height: 19px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; }

/*###################################
## Banner
###################################*/
.site-banner { position: relative; }

.site-banner__slider img { width: 100%; height: auto; -o-object-fit: cover; object-fit: cover; }

.site-banner__img-holder { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; right: 0; max-width: 820px; width: 42.70833%; margin: 0 auto; }

.site-banner__img-holder img { width: 100%; height: auto; }

/*###################################
## Content
###################################*/
/*content1*/
/*###################################
## Footer
###################################*/
/*###################################
## Sidebar Blog
###################################*/
.sidebar { border: 1px solid #535353; -webkit-box-sizing: border-box; box-sizing: border-box; -ms-flex-preferred-size: 30%; flex-basis: 30%; padding: 20px; }

.sidebar h2 { font-size: 25px; margin: 0; }

.sidebar .widget_search { -webkit-box-sizing: border-box; box-sizing: border-box; background: #6A7A64; margin-bottom: 25px; padding: 20px; width: 100%; }

.sidebar .widget:last-of-type { margin-bottom: 0; }

/*###################################
## Inner Pages
###################################*/
.inner #content { padding: 40px 0; min-height: 500px; }

.inner #content h1 { margin: 10px auto 30px; text-align: center; }

/*###################################
## Blog Page
###################################*/
.blog-container { padding-right: 5%; -ms-flex-preferred-size: 65%; flex-basis: 65%; }

.blog-list article { -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; border: 1px solid #535353; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px; }

.blog-list article:not(:last-of-type) { margin-bottom: 40px; }

.blog-list article:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

.blog-title h2 { margin: 0 0 20px !important; font-size: 30px; }

.blog-header { -webkit-align-items: flex-end; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; margin-bottom: 10px; }

.blog-header p { margin: 0; }

.blog-header p span { font-style: italic; }

.blog-image { text-align: center; }

.blog-image img { -webkit-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear; max-width: 500px !important; height: auto !important; }

.blog-container .btn { margin-top: 10px !important; padding: 10px 20px; font-size: 13px; }

.pagination-n { text-align: right; margin-top: 15px; }

.pagination-n a { background: #D7BA5A; padding: 2px 10px; }

.pagination-n .current { background: #6A7A64; padding: 2px 10px; color: #FFF; }

@media screen and (max-width: 800px) { .blog-wrap { -webkit-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .blog-container { margin-bottom: 30px; padding-right: 0; } }

@media screen and (max-width: 500px) { .blog-header { -webkit-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .blog-header p, .blog-header h2 { text-align: center; width: 100%; }
  .blog-list article { text-align: center; }
  .blog-header h2 { font-size: 30px; }
  .blog-container .btn { margin-top: 20px !important; } }

/*###################################
## Search Page
###################################*/
.page-description { text-align: center; margin-bottom: 40px; font-weight: 700; font-size: 25px; display: block; }

.page-description::after { content: ' "'; }

.page-description::before { content: '" '; }

.search article { -webkit-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear; border: 1px solid #000; margin-bottom: 30px; padding: 20px; display: block; }

.search article:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

.search article:last-of-type { margin-bottom: 0; }

.search article h2 { margin: 0 0 20px; font-size: 35px; }

.search-con { padding-right: 5%; -ms-flex-preferred-size: 65%; flex-basis: 65%; }

@media screen and (max-width: 800px) { .search-wrap { -webkit-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .search-con { margin-bottom: 30px; padding-right: 0; } }

/*###################################
## Error Page
###################################*/
.error-404 { text-align: center; }
